Timestamp without signing

What if you want to timestamp a file using RFC-3161 without signing it, let alone pay for an overpriced certficate?   Just hash it and 
The code is there to do the work but the command structure apparently doesn't let you use it.  

It is certainly possible to request generating an RFC 3161 TimeStampToken for an arbitrary file hash.  Do you know a standard format to store such a TimeStampToken value without using RFC 5652 (or at least RFC 2315), which implies signing?